body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/*apply css properties to body tag*/

body {
  position: absolute;
  left: 0%;
  text-align: center;
}

/*apply css properties to container class*/

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  text-align: center;
}

/*apply css properties to button tag*/

/* button {
  width: 90px;
  height: 60px;
  font-size: 30px;
  
  color: honeydew;
} */

/*apply hover effect to button tag*/

/* button:hover {
  background-color: greenyellow;
  color: grey;
} */

h2 {
  color: black;
  margin: 0 50px;
  font-size: 45px;
}

h1 {
  font-size: 35px;
  color: green;
  text-align: center;
  padding-left: 10%;
}
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
